.container {
  position: relative;
  min-height: 100vh;
  padding: 0 18px;
  background-color: var(--bg-third);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header {
    position: absolute;
    padding: 18px 36px 0 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
  }

  .imageContainer {
    position: relative;
    right: 40px;
    padding: 20px 0;
    width: calc(100% + 80px);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--bg-secondary);

    .image {
      width: 100%;
      padding: 0 15%;
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
    p {
      font-size: 12px;
      line-height: 20px;
    }

    .title {
      font-size: 20px;
      line-height: 24px;
      color: var(--text-primary);
    }

    .description {
      opacity: 0.5;
    }

    .info {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;

      p {
        font-weight: 700;
      }
    }

    .bigButton {
      width: 100%;
      background-color: var(--bg-button-primary);
      padding: 16px 0;
      border-radius: 15px;
      color: var(--button-text);
      font-weight: 600;
    }
    .priceContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .amountController {
        display: flex;
        align-items: center;
        gap: 8px;
        .amount {
          width: 10px;
        }
      }
    }
  }
}
