:root {
  --bg-primary: #fdfdfd;
  --bg-secondary: #eccddf;
  --bg-third: #e6e9f2;
  --bg-button-primary: #445df5;
  --bg-button-secondary: #e81363;
  --bg-button-third: #c4ccf3;
  --bg-button-disabled: #ccd5e6;
  --button-text: #fdfdfd;
  --text-primary: #292f3b;
  --text-secondary: #261a4c;
}
