@import "../../styles/variables.scss";
.container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: var(--bg-secondary);
  padding: 18px;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      width: 20px;
      height: 20px;
    }
    .image {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }

  .title {
    margin: 25px 0;
  }

  .listContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}
